parameters:
    level: 6
    paths:
        - src
        - tests
    bootstrapFiles:
        - test-app-conf/paths.php
        - vendor/cakephp/cakephp/src/basics.php
        - src/config/bootstrap.php
